
# Dependencies and packages
/docs/package-lock.json
node_modules/
npm-debug.log
package-lock.json
vendor/
yarn-error.log

# Build and compiled files
*.cache
*.lock
*.phar
.php-cs-fixer.cache
.phpunit.result.cache
/build

# Log files
*.log

# Laravel specific
.env
app/storage/
bootstrap/compiled.php
public/hot
public/storage
public_html/hot
public_html/storage

# Local configurations
/.vagrant
Homestead.json
Homestead.yaml

# Git specific
.git-blame-ignore-revs
.git-rewrite/

# Temporary and system files
*.exe
*.stackdump
*:Zone.Identifier

# Backup files
*.backup
*.bak
*.old
*.old1

# Documentation and cache
cache/
docs/cache/
docs/phpstan/

# Other
storage/*.key
-e
