parameters:
    level: 0
    paths:
        - %currentWorkingDirectory%
    excludePaths:
        - %currentWorkingDirectory%/vendor/*
        - %currentWorkingDirectory%/storage/*
        - %currentWorkingDirectory%/bootstrap/cache/*
    bootstrapFiles:
        - %currentWorkingDirectory%/vendor/autoload.php
    ignoreErrors:
        - '#Call to undefined method#'
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\#'
        - '#Call to an undefined static method#'
        - '#Access to an undefined property#'
    parallel:
        maximumNumberOfProcesses: 1
    tipsOfTheDay: false
    reportUnmatchedIgnoredErrors: false
    tmpDir: %currentWorkingDirectory%/storage/framework/cache/phpstan
